<nav class="nav navbar-default">
<div class="container head">
<ul class="nav navbar-nav navbar-left">
  <li><a href="/">Home</a></li>
  <li><a href="/create">Create Task</a></li>
  <li><a href="/tasks">Tasks List</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/register">Register</a></li>
</ul>
</div>
</nav>
