<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <a href="/users"><button type="button" name="choose_Users">Users Page</button></a>
    <a href="/memo"><button type="button" name="choose_memo">Memo Page</button></a>
  </body>
</html>