<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <a href="/memos/create"><button type="button" name="button">Add memo</button></a>
    <a href="/memos/"><button type="button" name="button">View Memo</button></a>
  </body>
</html>
