<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Register here</h1>
          <form method="post">
            <input type="text" name="email" placeholder="Enter your email here">
            <button type="submit" name="button">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
