<!DOCTYPE html>

<html>
  <head>
    <title>Edit Todo</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/form.css" rel="stylesheet" />
    <link href="/stylesheets/table.css" rel="stylesheet" />
  </head>
  <body>
    <form action="<%=todo.id%>" method="POST" class="form-style-5">
      <fieldset>
        <legend><span class="number"><%=todo.id%></span> Edit Todo</legend>
        <input type="text" name="title" value="<%=todo.title%>" placeholder="Title">
        <input type="hidden" name="userId" value="<%= userId %>"/>
        <input type="submit" value="Save" />
      </fieldset>
    </form>
  </body>
</html>